body { 
    width: 95%;
    margin: auto;
    height: 100%; 
    background-color:#F2EFE3;
}        
h1{
    color: #3b3937;
    text-align: center;
} 
header{
    background-image: url("../Project/images/background.png"); 
    background-size: cover;
    text-align: center;
    img{
        padding-top: 1rem;
        margin-left: 95%;
    }
    h1{
        margin-bottom: 4rem; 
        font-size: 80pt;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    nav a{
        display: block; 
        text-decoration: none;
        color:#F2EFE3;
        padding: 0.4rem; 
    }  
    nav li{
        background-color:#9b9189; 
        width: 100%;
        list-style: none;
        text-align: center; 
    } 
    nav a:hover {
        background-color:#F2EFE3;
        color:#9b9189;  
    } 
}
footer{
    padding: 0.5rem; 
    background-color:#9b9189;
    height: 200px;
    .footer-section{
        display: grid; 
        grid-template-columns: repeat(3,auto);
    }
    h2{
        text-align: left;
        color: #F6F5E7;
    }
    p{
        color: #F6F5E7;
    }
}

@media  screen and (min-width: 40rem) {
    nav ul {
        display: flex; 
    } 

}