* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 160;
}
html{
    height: 100%; 
}
body { 
    width: 95%;
    margin: auto; 
    height: 100%; 
    background-color:#F2EFE3;
}      
h1{ 
    color: #3b3937;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
} 
header{
    background-image: url("../Project/images/header\ background.png");  
    background-size: cover;
    text-align: center; 
    img {
        margin-top: 3%;
        margin-left: 90%; 
    }    
    h1{
        margin-bottom: 4rem; 
        font-size: 80pt;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;      
    }
    nav a{ 
        display: block; 
        text-decoration: none;
        color:#F2EFE3;
        padding: 0.4rem; 
    }  
    nav li{
        background-color:#9b9189; 
        width: 100%;
        list-style: none;
        text-align: center; 
    } 
    nav a:hover {
        background-color:#F2EFE3;
        color:#9b9189;  
    } 
}  
.main-section{
    padding-top: 2rem;
    padding-bottom: 2rem;
    .info{
        background-color:  #9b9189;;
    }
    .images{
        p{
            font-size: 20px;
            color: #3b3937;
            text-align: center;
            padding: 1rem;
        }
}
}
footer{
    padding: 0.5rem; 
    background-color:#9b9189;
    height: 200px;
    .footer-section{
        display: grid; 
        grid-template-columns: repeat(3,auto);
    }
    h2{
        text-align: left;
        color: #F6F5E7;
    }
    p{
        color: #F6F5E7;
    }
}
@media  screen and (min-width: 40rem) {
    nav ul {
        display: flex; 
    }    
    .main-section{
        display: grid;
        grid-template-columns: 2fr 5fr;
        gap: 1rem;
        .info{
            grid-column: 1/2;
        }
        .images{
            grid-column: 2/3;
        }
    }
    .images{
        display: grid;
        justify-content: center;
        gap: 1rem;
        grid-template-columns: auto auto auto;
    }
}   